.more-screen .icon-row {
  margin-top: 25px;
}
.more-suggestion {
  margin-top: 10px;
  border-top: 1px solid var(--main-border);
}
.more-suggestion__title {
  margin-top: 20px;
  font-weight: 600;
}
