.nav {
  border-top: 1px solid var(--main-border);
  background-color: #f9f9fa;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  padding: 16px 44px;
}
.nav__link {
  position: relative;
}
