.user-component {
  justify-content: space-between;
}
.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__avatar {
  width: 55px;
  height: 55px;
  border-radius: 18px;
}
.user-component__text {
  margin-left: 15px;
}
.user-component__title {
  font-weight: 800;
  font-size: 22px;
}
.user-component__subtitle {
  margin-top: 8px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}
.user-component__avatar--xl {
  width: 60px;
  height: 60px;
  border-radius: 20px;
}
.user-component__avatar--sm {
  width: 44px;
  height: 44px;
  border-radius: 15px;
}
.user-component__title--not-bold {
  font-weight: 400;
}
.user-component__column:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: rgba(0, 0, 0, 0.3);
}
.user-component__time {
  display: block;
  margin-bottom: 9px;
}
